use Mix.Config

token = "token"
lavalink_authorization = "lavalink_authorization"

user_id =
  token
  |> String.split(".", parts: 2)
  |> List.first()
  |> Base.decode64!()
  |> String.to_integer()

config :rest, token: token
config :gateway, token: token

config :worker, user_id: user_id
config :lavalink, user_id: user_id
config :lavalink, lavalink_authorization: lavalink_authorization
